<nav class="navbar navbar-static-top header-menu">
  <div class="container-fluid header-menu-section">
    <div class="navbar-header header-logo">
      <a class="navbar-brand" href="http://travelershaven.com/">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="home">Add a Property</a></li>
        <li><a ui-sref="properties">View Properties</a></li>
        <li><a ui-sref="users">View Users</a></li>
      </ul>
    </div>
  </div>
</nav>
